.ColorPickerHInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 25px;
    border-radius: 4px;
    background: rgb(85, 85, 85);
    cursor: pointer;
}

.input1 {
    width: 50px;
}

.input2 {
width: 40px;
}
.center {
margin-left: auto;
margin-right: auto;
width: 600px;
text-align: center;
background-color: rgb(255, 248, 220);
}
.left {
margin-right: auto;
width: 200px;
text-align: center;
background-color: rgb(255, 240, 245);
}
.right {
margin-left: auto;
width: 200px;
text-align: center;
background-color: rgb(240, 255, 240);
}
.hiden {
display: none;
position: absolute;
left: 20px;
top: 600px;
}
.RMH1R {
width: 115px;
}
.LMH1R {
width: 115px;
}
#splitter {
width: 100%;
background-color: #002200;
/* float:left; */
height: 6px;
position: absolute;
cursor: n-resize;
}